.container{
    display: flex;
}
.sidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25;
    border-right: 2px solid grey;
}

@media screen(max-width: 992px) {
    .container{
        flex-direction: column;
        align-items:     center;
    }

    .sidebar{
        width: 100%;
    }
}

.heading{
    font-weight: bold;
    margin-bottom: 20;
    font-family: "Montserrat";
}

.description{
    width: 100%;
    font-family: "Work Sans";
    padding: 25;
    padding-bottom: 15;
    padding-top: 0;
    text-align: justify;
}

.marketData{
    align-self: flex-start;
    padding: 25;
    padding-top: 10;
    width: 100%;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .marketData{
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .marketData{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px){
    .marketData{
        align-items: flex-start;
    }
}